version: '3.8'

services:
  db:
    image: bitnami/postgresql:latest
    restart: always
    env_file: 
      - .env
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASS}
      POSTGRES_DB: ${DATABASE_DB}
    volumes:
      - db-data:/bitnami/postgresql
    ports:
      - '5432:5432'

  backend:
    build: .
    env_file: 
      - .env
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - '3333:3333'
      - '5555:5555'
    command: pnpm run dev

volumes:
  db-data:
